<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Product App</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div class="nav-bar"></div>
    <div id="app">
        <div class="product">
            <div class="product-image">
                <img v-bind:src="image"/>
            </div>
            <div class="product-info">
                <h1> {{ title }} </h1>
                <p v-if="inventory > 10">In Stock</p>
                <p v-else-if="inventory <= 10 && inventory > 0">Last items in stock</p>
                <p v-else
                    :class="{outOfStock: !inStock} ">Out of Stock</p>
                <span v-show="onSale">On Sale now!</span>
                <ul>
                    <li v-for="detail in details"> {{detail}} </li>
                </ul>
                <div v-for="variant in variants" 
                    :key="variant.variantId"
                    class="color-box"
                    :style="{background: variant.variantColor }"
                    v-on:mouseover="updateProduct(variant.variantImage)">
                </div>
                <button v-on:click="addToCart()"
                        :disabled="!inStock"
                        :class="{ disabledButton: !inStock }">Add to Cart</button>
                <button v-on:click="subToCart()"
                      :disabled="cart == 0"
                      :class="{ disabledButton: cart == 0 }"
                    >Remove from Cart</button>
                <div class="cart">
                    <p>Cart({{cart}})</p>
                </div>
            </div>
        </div>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="main-2.js"></script>
</body>

</html>